.Article{
     font-family: "Arial", Helvetica, sans-serif;
     font-size: 17px;
     text-align: justify;
}
.Article a{
text-decoration: none;
color: brown;
  font-size: 18px;
}
.Article img,iframe{
        max-width:100% !important;
    height:auto;
width: 100%;
    display:block;
    margin-top: 50px;
}

.Article p{
    text-indent: 30px;
    margin-top: 50px;
}
.NewsTitle  h2{
    font-weight: bold;
    margin-top: 50px;
}
.NewsInfo  h5{
   color: #555;
   font-weight: bold;
}
